/* title */

#newGame{
  position: absolute;
  height: 80vh;
  top: 10vh;
  overflow: scroll;
}
#instructions{
  height: 80vh;
  top: 10vh;
}

#cancelGame{
  width: 130px;
}

#currentContainer h1{
  /* margin-top: 30px; */
}