.wood{
  background-color: green;
  background-image: url('/images/blocks/wood.png') ;
  background-position: center;
  background-size: cover;
}

.bush{
  background-color: yellow;
  background-image: url('/images/blocks/tree-leaves.png');
  background-position: center;
  background-size: cover;
}

.rock{
  background-color: grey;
  background-image: url('/images/blocks/rock.png');
  background-position: center;
  background-size: cover;
}

.dirt{
  background-color: brown;
  background-image: url('/images/blocks/soil.png');
  background-position: center;
  background-size: cover;
}

.sky{
  background-color: lightblue;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: grey;
  position: relative;
}

#axeBox{
  background: url('images/tools/axe.png') no-repeat center center / cover;
}
#pickAxeBox{
  background: url('images/tools/pickAxe.png') no-repeat center center / cover;
}
#shovelBox{
  background: url('images/tools/shovel.png') no-repeat center center / cover;
}
#woodIcon{
  background:  url('/images/blocks/wood.png') no-repeat center center / cover;
}
#rockIcon{
  background:  url('/images/blocks/rock.png') no-repeat center center / cover;
}
#dirtIcon{
  background:  url('/images/blocks/soil.png') no-repeat center center / cover;
}
#bushIcon{
  background:  url('/images/blocks/tree-leaves.png') no-repeat center center / cover;
}

.btn{
  width: 200px;
  margin-bottom: 10px;
  height: 40px;
  font-weight: 600;
  font-size: 1.2rem;
  background: orange; 
}

#landing{
  background: url('images/bg.gif') no-repeat center center /cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

#mainTitle{
  background: url('images/a.png') no-repeat center center /cover;
  width: 42vw;
  height: 7vw;
  margin-bottom: 100px
}

#newGame{
  position: absolute;
  left: calc(50% - 180px);
  top: 10vh;
  background: url('/images/newGame.png') no-repeat center center / cover;
  opacity: 0.9;
  width: 360px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.inputColumnsContainer{
  display: flex;
  align-items: center;
}

.inputColumnsContainer p{
  font-size: 20px;
}

.inputColumns{
  width: 40px;
  height: 100px;
}

.inputRows{
  height: 30px;
}

#instructions{
  position: absolute;
  left: calc(50% - 180px);
  top: 40vh;
  background: url('/images/instructionsBg.png') no-repeat center center / cover;
  opacity: 0.9;
  width: 360px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#instructions h1{
  padding: 10px;
  font-size: 50px;
  font-weight: 600;
}

#instructions p{
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

#game{
  position: absolute;
  display: flex;
  background: url('/images/gameBg.png') no-repeat center center / cover;
  width: 100vw;
  height: 100vh;
  cursor: url('cursor1.png'), auto;
}

#tools{
  width: 15vw;
  background: violet;
}


#matrix{
  display: flex ;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: scroll;
}

/* tool box */
.toolsTitle{
  margin-bottom: 10px;
}
#toolsAndStorage{
  height: 100vh;
  background: url('/images/sidebarBg.png') no-repeat center center / cover;
  padding: 20px;
  overflow: scroll;
}

#toolsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px
}
.toolBox{
  width: 50px;
  height: 50px;
  background: crimson;
}

/* storage */
.storageTitle{
  margin-top: 50px;
  margin-bottom: 10px;
}
#storageContainer{
  display: flex;
  flex-direction: column;
}

.brickContainer{
  display: flex;
  align-items: center;
}

.brickIcon{
  width: 20px;
  height: 20px;
  background: chartreuse;
}

#currentContainer{
  margin-top: 20px;
  display: flex;
  align-items: center;  
}

#currentIcon{
  background: url('/images/sidebarBg.png') no-repeat center center / cover;
  width: 30px;
  height: 30px;
}

.cancelGame{
  width: 130px;
  margin-top: 40px;
  background: turquoise;
}

