
.wood{
  background-color: green;
  background-image: url('/images/blocks/wood.png') ;
  background-position: center;
  background-size: cover;
}

.bush{
  background-color: yellow;
  background-image: url('/images/blocks/tree-leaves.png');
  background-position: center;
  background-size: cover;
}

.rock{
  background-color: grey;
  background-image: url('/images/blocks/rock.png');
  background-position: center;
  background-size: cover;
}

.dirt{
  background-color: brown;
  background-image: url('/images/blocks/soil.png');
  background-position: center;
  background-size: cover;
}

.sky{
  background-color: lightblue;
}

.cloud{
  background-color: white;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: grey;
  position: relative;
}

#axeBox{
  background: url('images/tools/axe.png') no-repeat center center / cover;
}
#pickAxeBox{
  background: url('images/tools/pickAxe.png') no-repeat center center / cover;
}
#shovelBox{
  background: url('images/tools/shovel.png') no-repeat center center / cover;
}
#woodIcon, #woodIconDeal{
  background:  url('/images/blocks/wood.png') no-repeat center center / cover;
}
#rockIcon, #rockIconDeal{
  background:  url('/images/blocks/rock.png') no-repeat center center / cover;
}
#dirtIcon, #dirtIconDeal{
  background:  url('/images/blocks/soil.png') no-repeat center center / cover;
}
#bushIcon, #bushIconDeal{
  background:  url('/images/blocks/tree-leaves.png') no-repeat center center / cover;
}

.btn{
  width: 200px;
  margin-bottom: 10px;
  height: 40px;
  font-weight: 600;
  font-size: 1.2rem;
  background: orange; 
}

#landing{
  background: url('images/bg.gif') no-repeat center center /cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 7s;
  animation-fill-mode: forwards;

}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#mainTitle{
  background: url('images/a.png') no-repeat center center /cover;
  width: 42vw;
  height: 7vw;
  margin-bottom: 100px
}

#newGame{
  position: absolute;
  left: calc(50% - 180px);
  top: 10vh;
  background: url('/images/newGame.png') no-repeat center center / cover;
  opacity: 0.9;
  width: 360px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.inputColumnsContainer{
  display: flex;
  align-items: center;
}

.inputColumnsContainer p{
  font-size: 20px;
}

.inputColumns{
  width: 40px;
  height: 100px;
}

.inputRows{
  height: 30px;
}

#instructions{
  position: absolute;
  left: calc(50% - 180px);
  top: 10vh;
  background: url('/images/instructionsBg.png') no-repeat center center / cover;
  opacity: 0.9;
  width: 360px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#instructions h1{
  padding: 10px;
  font-size: 50px;
  font-weight: 600;
}

#instructions p{
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

#game{
  position: absolute;
  display: flex;
  background: url('/images/gameBg.png') no-repeat center center / cover;
  width: 100vw;
  height: 100vh;
  cursor: url('cursor1.png'), auto;
}

#tools{
  width: 15vw;
  background: violet;
}


#matrix{
  display: flex ;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: scroll;
}

/* tool box */
.toolsTitle{
  margin-bottom: 10px;
}
#toolsAndStorage{
  height: 100vh;
  background: url('/images/sidebarBg.png') no-repeat center center / cover;
  padding: 20px;
  overflow: scroll;
  overflow-x: scroll;
  min-width: 100px;
}

#toolsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px
}
.toolBox{
  width: 50px;
  height: 50px;
  background: crimson;
}

/* storage */
.storageTitle{
  margin-top: 50px;
  margin-bottom: 10px;
}
#storageContainer{
  display: flex;
  flex-direction: column;
}

.brickContainer{
  display: flex;
  align-items: center;
}

.brickIcon{
  width: 20px;
  height: 20px;
  background: chartreuse;
}

#currentContainer{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  min-width: 180px;
}

#currentIcon{
  background: url('/images/sidebarBg.png') no-repeat center center / cover;
  width: 30px;
  height: 30px;
}

#Market-Place{
  width: 150px;
  margin-top: 40px;
  background: turquoise;
}

.cancelGame{
  width: 150px;
  margin-top: 40px;
  background: turquoise;
}

#markets{
  z-index: -100;
  position: absolute;
  left: calc(50% - 40vw);
  top: 10vh;
  background: url('/images/market.png') no-repeat center center / cover;
  opacity: 0.9;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#markets h1{
  padding: 10px;
  font-size: 50px;
  font-weight: 600;
}

#markets h3{
  font-size: 50px;
}

#markets p{
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

#dealContainer{
  display: flex;
  margin-bottom: 40px;
  margin-top: 20px;
}

.dealIcon{
  width: 50px;
  height: 50px;
  background: chartreuse;
  border: 2px solid black;
}

.dealCounter{
  font-size: 50px;
  margin-right: 50px;
}

#currentResource{
  display: flex;
  align-items: center;  
  min-width: 180px;
  margin-bottom: 30px;
}

#currentResourceIcon{
  background: url('/images/sidebarBg.png') no-repeat center center / cover;
  width: 60px;
  height: 60px;
}




/* media queries */
@media (min-width: 600px) {
  #newGame{
    left: calc(50% - 300px);
    width: 600px;
  }
  
  #instructions{
    left: calc(50% - 300px);
    width: 600px;  
  }
  .cancelGame{
    width: 200px;
  }
  #Market-Place{
    width: 200px;
  }
}
@media (max-height: 500px) {
  #newGame{
    position: absolute;
    height: 80vh;
    top: 10vh;
    overflow: scroll;
  }
  #instructions{
    height: 80vh;
    top: 10vh;
  }
  
  #cancelGame{
    width: 130px;
  }
  #Market-Place{
    width: 130px;
  }
  
  #currentContainer h1{
    margin-top: 30px;
  }
}
