*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: grey;
  position: relative;
}

#landing{
  background: grey;
  position: absolute;
  display: block;

  /* changed to work easily on game */
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

#game{
  position: absolute;
  display: flex;
  background: turquoise;
  width: 100vw;
  height: 100vh;
}

#tools{
  width: 15vw;
  background: violet;
}

#matrix{
  display: flex ;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: scroll;
}

/* tool box */
.toolsTitle{
  margin-bottom: 10px;
}
#toolsAndStorage{
  padding: 20px;
}
#toolsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px
}
.toolBox{
  width: 50px;
  height: 50px;
  background: crimson;
}

/* storage */
.storageTitle{
  margin-top: 50px;
  margin-bottom: 10px;
}
#storageContainer{
  display: flex;
  flex-direction: column;
}

.brickContainer{
  display: flex;
  align-items: center;
}

.brickIcon{
  width: 10px;
  height: 10px;
  background: chartreuse;
}

